<div *ngIf="showPage;else hidePage">
  <mat-drawer-container autosize>
    <mat-drawer style="max-width: 80%;padding: 20px" #drawer mode="over">
      <section fxLayout="column">
        <mat-checkbox *ngFor="let s of allSkills" [(ngModel)]="checkedSkills[s._id]" [ngModelOptions]="{standalone: true}">{{s.name}}</mat-checkbox>
      </section>
    </mat-drawer> 

  <mat-card fxLayout="column" fxLayoutAlign="space-around center">
      <mat-card-header>
        <mat-card-title>Edit Skill</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #f="ngForm" (ngSubmit)="onYesClick(f)" fxLayout="column" fxLayoutAlign="space-around center">
          <label for="name">Name</label>
          <mat-form-field>
            <input type="text" placeholder="Enter name" matInput #nameField id="name" name="name" required="true" [ngModel]="employee.name">
            <mat-error *ngIf="!nameField.valid">Name required</mat-error>
          </mat-form-field>
          <label for="surname">Surname</label>
          <mat-form-field>
              <input type="text" placeholder="Enter surname" matInput #surnameField id="surname" name="surname" required="true" [ngModel]="employee.surname">
              <mat-error *ngIf="!surnameField.valid">Surname required</mat-error>
          </mat-form-field>
          <label for="email">Email</label>
          <mat-form-field>
              <input type="text" placeholder="Enter email" matInput #emailField="ngModel" id="email" name="email" email="true" required="true" [ngModel]="employee.email">
              <mat-error *ngIf="emailField.errors&&emailField.errors.required">Email Required</mat-error>
              <mat-error *ngIf="emailField.errors&&emailField.errors.email">Invalid Email</mat-error>
          </mat-form-field>
          <label for="phone">Phone</label>
          <mat-form-field>
              <input type="text" placeholder="Enter phone" matInput #phoneField id="phone" name="phone" [ngModel]="employee.phone">
          </mat-form-field>
          <label for="address">Address</label>
          <mat-form-field>
              <input type="text" placeholder="Enter address" matInput #addressField id="address" name="address" [ngModel]="employee.address">
          </mat-form-field>  
          <div style="padding-bottom:10px" >
              <button type="button" mat-button (click)="(allSkills&&checkedSkills)?drawer.toggle():null">
                  <b style="padding-right:10px">Employee's Skills</b><mat-icon>more_horiz</mat-icon> 
              </button>
          </div>
          <label>Hiring Date</label>
          <div style="padding: 10px">{{employee.hiredAt}}</div>
          <label>Last Updated</label>
          <div style="padding: 10px">{{employee.updatedAt}}</div>
          <div fxLayout="row">
            <button type="button" color="warn" mat-raised-button [routerLink]="['/view','employees']">Back</button>
            <button [disabled]="!f.valid" type="submit" color="primary" mat-raised-button cdkFocusInitial>Save Changes</button>
          </div>
        </form>
      </mat-card-content>
  </mat-card>
</mat-drawer-container>
</div>
  
<ng-template #hidePage>
    <div class="loading">
      <mat-spinner></mat-spinner>
      <h3>Loading...</h3>
    </div>
</ng-template>
